<div class="mb-3">
    <%= f.label(:position, class:'mt-3') %>
        <%= f.select(:position, 1..@section_count, {:prompt=> true}, class:'form-select') %>
            <% if @section.errors.any? %>
                <% @section.errors.full_messages_for(:position).each do |error| %>
                    <span>
                        <li class="text-danger">
                            <%= error %>
                        </li>
                    </span>
                <% end %>
            <% end %>
</div>
<div class="mb-3">
    <%= f.label(:page_id, class:'mt-3') %>
        <%= f.select(:page_id, @page.map {|s| [s.name, s.id]},{prompt: true}, class:'form-select') %>
            <% if @section.errors.any? %>
                <% @section.errors.full_messages_for(:page_id).each do |error| %>
                    <span>
                        <li class="text-danger">
                            <%= error %>
                        </li>
                    </span>
                <% end %>
            <% end %>
</div>
<div class="mb-3">
    <%= f.label(:name, class:'mt-3') %>
        <%= f.text_field(:name, class:'form-control') %>
            <% if @section.errors.any? %>
                <% @section.errors.full_messages_for(:name).each do |error| %>
                    <span>
                        <li class="text-danger">
                            <%= error %>
                        </li>
                    </span>
                <% end %>
            <% end %>
</div>
<div class="mb-3">
    <%= f.label(:content, class:'mt-3') %>
        <%= f.text_area(:content, :size=> '40x5', class:'form-control') %>
            <% if @section.errors.any? %>
                <% @section.errors.full_messages_for(:content).each do |error| %>
                    <span>
                        <li class="text-danger">
                            <%= error %>
                        </li>
                    </span>
                    <% end %>
                        <% end %>
</div>

<div class="col-8 mb-3">
    <%= f.label(:content_type) %>
    <div class="d-flex gap-1">
            <%= f.radio_button(:content_type, 'Voilence' , class:'form-check-input' ) %> Voilence
            <%= f.radio_button(:content_type, 'Peace' ,class:'form-check-input' ) %> Peace
    </div>
                 <% if @section.errors.any? %>
                    <% @section.errors.full_messages_for(:content_type).each do |error| %>
                        <span>
                            <li class="text-danger">
                                <%= error %>
                            </li>
                        </span>
                     <% end %>
                <% end %>
</div>
<div class="mb-3">
    <%= f.label(:visible, class:'mt-3') %>
        <p>
            <%= f.check_box(:visible, class:'form-check-input') %>
        </p>
</div>